server:
    port: 8081
    servlet:
        context-path: /api/v1
spring:
    datasource:
      url: jdbc:postgresql://localhost:5432/sentiment-api-db
      username: postgres
      password: sentiment-api-pass
      driver-class-name: org.postgresql.Driver
